.switch {
  height: 44px;
  width: 44px;
  position: relative;
  top: 24px;
  background: #ffffff;
  border: 1px solid rgb(221, 221, 221);
  transition: 0.2s;
}

.switch svg {
  color: #0c7cd5;
}

.switch:hover {
  background: #0c7cd5;
  color: #ffffff;
  border: 1px solid transparent;
}

.switch:hover svg {
  color: #ffffff;
}

.switch:active {
  transform: translate(0, 3px);
  -webkit-transform: translate(0, 3px);
  box-shadow: rgba(35, 55, 80, 0.3) 0px 6px 12px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .switch {
    top: 0;
    margin: 10px 0;
  }
}
